<%- include('partials/header'); -%>

<form action="">
    <h2>Sign Up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required >
    <div class="email error">
    
    </div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <div class="password error">
      
    </div>

    <button type="submit">Sign Up</button>

</form>
<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;
        try {
            const response = await fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            });
            const data = await response.json();
            if(data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if(data.user){
                location.assign('/login');
            }

            // console.log(data);
        } catch (error) {
            console.log(error);
            
        }
     
    });
</script>

<%- include('partials/footer'); -%>